@import '../../../app-theme.scss';

$canvas-size: 600px;

#markerCanvas {
  width: $canvas-size;
  height: $canvas-size;
  position: absolute;
  user-select: none;
}

#markerBackgroundImage {
  @extend #markerCanvas;
  background-color: grey;
}

#markerSlider {
  position: absolute;
  left: $canvas-size;
  height: $canvas-size;
}

#markerAcceptButton {
  position: absolute;
  left: $canvas-size / 2;
  top: $canvas-size;
}

