app-login-page {
  .login-card {
    width: 30%;
    height: 50%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 25%; /* Added */
  }

  .background {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black url("../../assets/img/tmp-background.svg") fixed no-repeat bottom right;
    background-size: 30%;
  }
}
