.step-content {
  display: block;
  margin: 1em auto;
  width: 80%;
  max-width: 1000px;
}

img {
  width: 50%;
  margin: 0 auto 5px auto;
  box-shadow: 0 0 5px gray;
  float: left;
  display: block;
}

mat-card {
  width: 40%;
  float: right;
}

.prevPage {
  float: left;
}

.nextPage {
  float: right;
}

.clearfix {
  clear: both;
}
