.labels {
  flex: 1;

  p {
    padding-left: 8px;
  }

  h5.no-labels-for-tag {
    padding-left: 20px;
  }

  h5.no-labels {
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 300;
  }

  .clickable {
    cursor: pointer;
  }

  mat-list-item:hover {
    background-color: #e4e4e4;
  }

  mat-icon {
    vertical-align: sub;
  }

  mat-icon.size-16px {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
  }

  // Workaround due to a bug in Angular Material SVG Icons
  mat-icon.smaller-svg {
    transform: scale(0.7);
    vertical-align: middle !important;
  }

  .mat-line {
    font-size: 14px;
  }

  button {
    margin: 0;

    mat-icon {
      vertical-align: sub;
    }
  }
}
