<h1 id="info-dialog-title" mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
    <p id="info-dialog-content" class="dialog__content">{{data.content}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close data-cy="dialog-button-cancel">
        {{data.buttonCancel}}
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial data-cy="dialog-button-confirm">{{data.buttonConfirm}}</button>
</mat-dialog-actions>