<form [formGroup]="form" (ngSubmit)="closeDialog(form)">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        <p>{{data.content}}</p>
        <mat-form-field style="width:100%">
            <textarea id="userInput" matInput matTextareaAutosize formControlName="userInput"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-raised-button color="primary" type="submit">{{data.buttonText}}</button>
        <button mat-button type="button" mat-dialog-close>Cancel</button>
    </div>
</form>
