<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="formGroup">
        <ng-template matStepLabel>Choose dataset</ng-template>
        <section class="step-content">
            <video loop #firstStepVideo>
                <source src="assets/video/marker_step1.mp4" type="video/mp4">
            </video>
            <mat-card>
                <mat-card-title>Choose dataset</mat-card-title>
                <mat-card-subtitle>Step 1</mat-card-subtitle>
                <p>First, choose dataset of the data you want to label. After that you will be taken to marker
                    page.</p>
                <button class="nextPage" mat-raised-button matStepperNext color="primary">Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <div class="clearfix"></div>
            </mat-card>
        </section>
    </mat-step>

    <mat-step [stepControl]="formGroup">
        <ng-template matStepLabel>Find anomaly</ng-template>
        <section class="step-content">
            <video loop #secondStepVideo>
                <source src="assets/video/marker_step2.mp4" type="video/mp4">
            </video>
            <mat-card>
                <mat-card-title>Find anomaly</mat-card-title>
                <mat-card-subtitle>Step 2</mat-card-subtitle>
                <p>Use the slider on your right to search for anomalies on the picture. Remember that by default you are
                    given
                    only a part of the scan. To download rest of the images, use the slider to go to the end of
                    available view.</p>
                <p>If you haven't found any anomalies on the scan, click 'Skip scan' button to get a new scan for
                    labelling`.</p>
                <button class="prevPage" mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button class="nextPage" mat-raised-button matStepperNext color="primary">Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <div class="clearfix"></div>
            </mat-card>
        </section>
    </mat-step>

    <mat-step [stepControl]="formGroup">
        <ng-template matStepLabel>Label it</ng-template>
        <section class="step-content">
            <video loop #thirdStepVideo>
                <source src="assets/video/marker_step3.mp4" type="video/mp4">
            </video>
            <mat-card>
                <mat-card-title>Label it</mat-card-title>
                <mat-card-subtitle>Step 3</mat-card-subtitle>
                <p>Draw rectangle on the image that you find interesting. Using the slider on the right, move to another
                    slices and draw
                    additional rectangle. Collection of such selections will create a single 3D annotation. MedTagger
                    will be able to
                    interpolate such rectangles to prepare a complex 3D structure.
                <p><b>Remember: In case you find multiple anomalies, annotate them separately to create multiple
                    labels.</b></p>
                <p style="color: #666;"><i>In this example we are showing how to label fragments of patient ribs.</i>
                </p>
                <button class="prevPage" mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button class="nextPage" mat-raised-button matStepperNext color="primary">Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <div class="clearfix"></div>
            </mat-card>
        </section>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Send label</ng-template>
        <section class="step-content">
            <video loop #fourthStepVideo>
                <source src="assets/video/marker_step4.mp4" type="video/mp4">
            </video>
            <mat-card>
                <mat-card-title>Send label</mat-card-title>
                <mat-card-subtitle>Step 4</mat-card-subtitle>
                <p>After creating label, click 'Send label' button. You'll still have option of further labeling the
                    scan after
                    clicking this button.</p>
                <p>After sending all of the labels, please click 'Next scan' button to draw another scan for
                    labelling.</p>
                <mat-checkbox [formControl]="doNotShowAgain">Do not show this tutorial again</mat-checkbox>
                <button class="prevPage" mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button class="nextPage" mat-raised-button matStepperNext color="primary"
                        (click)="endTutorial()">
                    <mat-icon>label_outline</mat-icon>
                    Proceed to labeling
                </button>
                <div class="clearfix"></div>
            </mat-card>
        </section>
    </mat-step>
</mat-horizontal-stepper>
