.step-content {
    display: block;
    margin: 1em auto;
    width: 80%;
    max-width: 1000px;
}

video {
    width: 50%;
    margin: 0 auto 10px auto;
    float: left;
    display: block;
    box-shadow: 0 0 3px gray;
}

mat-card {
    width: 40%;
    float: right;
}

.prevPage {
    float: left;
}

.nextPage {
    float: right;
}

.clearfix {
    clear: both;
}
