before_install:
  - git remote set-branches --add origin master
  - git fetch

matrix:
  include:
    # E2E Tests
    - language: node_js
      services:
        - docker
      env: TESTS=e2e
      node_js:
        - "8"
      script:
        - make e2e_docker

    # Backend - linters & unit tests
    - language: python
      services:
        - docker
      env: BACKEND=linters_and_unit_tests
      script:
        - ./.travis/run_tests_if_subproject_changed.py backend --command="
           docker-compose build medtagger_backend_rest medtagger_backend_websocket medtagger_backend_worker medtagger_backend_database_migrations &&
           docker-compose run --no-deps medtagger_backend_rest /bin/bash -c \"make install_dev_packages && make test\""

    # Backend - functional tests
    - language: python
      services:
        - docker
      env: BACKEND=functional_tests
      if: branch = master
      script:
        - ./.travis/run_tests_if_subproject_changed.py backend --command="
           docker-compose -f ./.travis/backend_functional_tests_docker-compose.yml up -d cassandra postgres rabbitmq &&
           docker-compose -f ./.travis/backend_functional_tests_docker-compose.yml run medtagger_backend_functional_tests &&
           docker-compose down"

    # Frontend - linters
    - language: node_js
      env: FRONTEND=linters_and_unit_tests
      sudo: required
      addons:
        chrome: stable
      node_js:
        - "8"
      script:
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
        - ./.travis/run_tests_if_subproject_changed.py frontend --command="
           cd frontend/ &&
           npm i &&
           ng lint &&
           ng test"

    # Frontend - build production Docker
    - language: node_js
      services:
        - docker
      env: FRONTEND=production_build
      node_js:
        - "8"
      script:
        - ./.travis/run_tests_if_subproject_changed.py frontend --command="
           docker-compose build medtagger_frontend"
