version: '3'

services:
  reverse-proxy:
    image: traefik
    restart: unless-stopped
    command: --configFile=/var/traefik/traefik.toml
    ports:
      - 80:80
      - 52000:8080
    volumes:
      - $PWD/traefik.toml:/var/traefik/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=false"

  cassandra:
    image: cassandra
    restart: unless-stopped
    volumes:
      - cassandra-data:/var/lib/cassandra
    ports:
      - 9042:9042
    labels:
      - "traefik.enable=false"

  rabbitmq:
    image: rabbitmq:management
    restart: unless-stopped
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia
    ports:
      - 5672:5672
      - 15672:15672
    labels:
      - "traefik.enable=false"

  postgres:
    image: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: medtagger
      POSTGRES_USER: medtagger_user
      POSTGRES_PASSWORD: MedTa99er!
    labels:
      - "traefik.enable=false"

  medtagger_frontend:
    image: medtagger_frontend/web
    restart: unless-stopped
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        - PRODUCTION=${MEDTAGGER__FRONTEND_PRODUCTION}
        - SUBDIRECTORY=${MEDTAGGER__HOST_ON_SUBDIRECTORY}
    depends_on:
      - medtagger_backend_rest
    labels:
      - "traefik.backend=medtagger_frontend"
      - "traefik.frontend.rule=PathPrefix: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}; ReplacePathRegex: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}(.*) /$$1"

  medtagger_backend_rest:
    image: medtagger_backend/rest
    restart: unless-stopped
    env_file:
      - ./backend/docker/backend.env
    build:
      context: backend
      dockerfile: docker/Dockerfile_rest
      args:
        - CASS_DRIVER_NO_CYTHON=${CASSANDRA_DRIVER__DISABLE_CYTHON}
        - CASS_DRIVER_NO_EXTENSIONS=${CASSANDRA_DRIVER__DISABLE_EXTENTIONS}
    depends_on:
      - cassandra
      - rabbitmq
      - postgres
      - medtagger_backend_websocket
      - medtagger_backend_worker
    command: bash -c "./scripts/wait_for_dependencies.sh && make run_rest_production"
    labels:
      - "traefik.backend=medtagger_backend_rest"
      - "traefik.frontend.rule=PathPrefix: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}api/v1/,${MEDTAGGER__HOST_ON_SUBDIRECTORY}swaggerui/; ReplacePathRegex: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}(.*) /$$1"

  medtagger_backend_websocket:
    image: medtagger_backend/websocket
    restart: unless-stopped
    env_file:
      - ./backend/docker/backend.env
    build:
      context: backend
      dockerfile: docker/Dockerfile_websocket
      args:
        - CASS_DRIVER_NO_CYTHON=${CASSANDRA_DRIVER__DISABLE_CYTHON}
        - CASS_DRIVER_NO_EXTENSIONS=${CASSANDRA_DRIVER__DISABLE_EXTENTIONS}
    depends_on:
      - cassandra
      - rabbitmq
      - postgres
    command: bash -c "./scripts/wait_for_dependencies.sh && make run_websocket_production"
    labels:
      - "traefik.backend=medtagger_backend_websocket"
      - "traefik.backend.loadbalancer.stickiness=true"
      - "traefik.backend.loadbalancer.stickiness.cookieName=MEDTAGER_WEBSOCKET_NODE"
      - "traefik.frontend.rule=PathPrefix: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}socket.io; ReplacePathRegex: ${MEDTAGGER__HOST_ON_SUBDIRECTORY}(.*) /$$1"

  medtagger_backend_worker:
    image: medtagger_backend/worker
    restart: unless-stopped
    env_file:
      - ./backend/docker/backend.env
    build:
      context: backend
      dockerfile: docker/Dockerfile_worker
      args:
        - CASS_DRIVER_NO_CYTHON=${CASSANDRA_DRIVER__DISABLE_CYTHON}
        - CASS_DRIVER_NO_EXTENSIONS=${CASSANDRA_DRIVER__DISABLE_EXTENTIONS}
    depends_on:
      - cassandra
      - rabbitmq
      - postgres
    command: bash -c "./scripts/wait_for_dependencies.sh && make run_workers"
    labels:
      - "traefik.enable=false"

  medtagger_backend_database_migrations:
    image: medtagger_backend/database_migrations
    env_file:
      - ./backend/docker/backend.env
    build:
      context: backend
      dockerfile: docker/Dockerfile_database_migrations
      args:
        - CASS_DRIVER_NO_CYTHON=${CASSANDRA_DRIVER__DISABLE_CYTHON}
        - CASS_DRIVER_NO_EXTENSIONS=${CASSANDRA_DRIVER__DISABLE_EXTENTIONS}
    depends_on:
      - cassandra
      - rabbitmq
      - postgres
    command: bash -c "./scripts/dev__prepare_backend.sh"
    labels:
      - "traefik.enable=false"

volumes:
  cassandra-data:
  rabbitmq-data:
  postgres-data:
