# Dev requirements - these should always be latest
mypy
pylint
flake8
flake8-docstrings
flake8-logging-format
flake8-pep257
flake8-print==3.1.0
flake8-single-quotes
flake8-commas
pytest
pytest-cov
pytest-mock
jupyter
matplotlib
