# Dev requirements - these should always be latest
mypy==0.590
pylint==1.8.4
flake8==3.5.0
flake8-docstrings
flake8-logging-format
flake8-pep257
flake8-print
flake8-single-quotes
flake8-commas
pytest
pytest-cov
pytest-mock
jupyter
matplotlib
