.categories {
    text-align: center;
}

.title-row {
    margin-top: 3em;
    font-size: 1.5em;
}

.button-row {
    margin-top: 13em;
    display: inline-block;
}

.mat-fab {
    height: 200px;
    width: 200px;
    margin-left: 1em;
}

.mat-icon {
    height: 100px;
    width: 100px;
}

