<div class="menu">
  <div class="button-row">
    <button mat-fab routerLink="/marker-tutorial">
      <mat-icon>label_outline</mat-icon>
      <div>Etykietowanie</div>
    </button>
    <button mat-fab routerLink="/upload">
      <mat-icon>add</mat-icon>
      <div>Dodawanie skanów</div>
    </button>
    <button mat-fab routerLink="/validation">
      <mat-icon>assignment_turned_in</mat-icon>
      <div>Walidacja</div>
    </button>
    <button mat-fab routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <div>Ustawienia</div>
    </button>
  </div>
</div>
