.menu {
  text-align: center;
}

.button-row {
  margin-top: 13em;
  display: inline-block;
}

.mat-fab {
  height: 200px;
  width: 200px;
  margin-left: 1em;
}

.mat-icon {
  height: inherit;
  width: inherit;
  font-size: 5.5em;
}
