<div #canvasWorkspace class="marker--container">
    <div #imageContainer
        id="imageContainer">
        <img #image class="marker--scan"/>
        <canvas #canvas class="marker--canvas"></canvas>
    </div>
    <mat-slider #slider id="markerSlider"
                (change)="changeSlice($event.value)"
                (blur)="setSliderFocus(true)"
                [disabled]="false"
                [max]="getMaxSliceIndex()"
                [min]="getMinSliceIndex"
                [step]="1"
                [thumbLabel]="true"
                [tickInterval]="1"
                [value]="currentSlice"
                [vertical]="true"
                class="marker--slider"
                color="primary">
    </mat-slider>
    <div
        *ngIf="downloadingScanInProgress || downloadingSlicesInProgress"
        class="marker--spinner-box">
        <mat-progress-spinner
            mode="indeterminate"
            color="primary">
        </mat-progress-spinner>
    </div>
</div>
