@import '../../../app-theme.scss';

$canvas-size: 100%;

#markerCanvas {
    //width: $canvas-size;
    //height: $canvas-size;
    position: absolute;
    user-select: none;
}

#markerSlider {
    position: absolute;
    right: 0;
}

#markerAcceptButton {
    position: absolute;
    left: $canvas-size / 2;
    top: $canvas-size;
}

// pretty neat workaround to always show slider thumb
::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(-45deg) !important;
        border-radius: 50% 50% 0 !important;
    }

    .mat-slider-thumb {
        transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }
}

