// Default style for every page
$main-z-index: 1;
$main-color: rgb(54, 53, 53);
body {
    margin: 0;
}

.dynamicContent {
    height: 100vh;
    padding: 5em 0;
    box-sizing: border-box;
}

.open-sidebar {
    position: absolute;
    right: 1em;
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;

    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
    }

    .header-icon {
        margin-right: 0.1em;
        vertical-align: middle;
    }

    .header-name {
        vertical-align: middle;
        padding-right: 0.5em;
    }

    .header-page-name {
        vertical-align: middle;
        font-weight: 200;
        padding-left: 0.5em;
        border-left: 1px white solid;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    font-size: 0.9em;
    font-weight: normal;
}

//
// Sidebar related classes
//

.mat-drawer-container {
    background: white;
}

mat-sidenav {
    width: 300px;
    z-index: 3 !important;

    hr {
        border-top: 1px solid #eeeeee;
    }

    .user-profile {
        padding: 20px;
    }

    .user-avatar {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        margin-right: 1em;
        float: left;
    }

    .user-name {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-login {
        margin: 0;
        position: relative;
        top: -0.3em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}
