.upload-mode {
  width: 40%;
  max-width: 450px;
  float: left;
  margin: 1.5em;
}

.mat-card-title {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.enable-card-border {
  margin: 5px;
}

.progress-spinner {
  float: left;
  margin-right: 10px;
}

.success-message {
  background: #4caf50;
  color: white;
  padding: 0.8em 1.6em;
}

.success-indicator {
  vertical-align: middle !important;
}
