<div class="menu">
  <div class="button-row">
    <button mat-fab routerLink="/marker-tutorial">
      <mat-icon>label_outline</mat-icon>
      <div>Labelling</div>
    </button>
    <button mat-fab routerLink="/upload" *ngIf="user.role !== 'volunteer'">
      <mat-icon>add</mat-icon>
      <div>Adding new scans</div>
    </button>
    <button mat-fab routerLink="/validation" *ngIf="user.role !== 'volunteer'">
      <mat-icon>assignment_turned_in</mat-icon>
      <div>Validation</div>
    </button>
    <button mat-fab routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <div>Settings</div>
    </button>
  </div>
</div>
