<app-nav-bar>
    <button mat-mini-fab color="primary" class="account-button" (click)="toggleDropdown()" [ngClass]="{ 'active' : isDropdownActive}">
        <mat-icon class="account-button__icon">person</mat-icon>
        <span *ngIf="isDropdownActive" [@displayDropdown]="isDropdownActive" class="account-button__options">
            <a class="account-button__link" [routerLink]="settingsPage">Settings</a>
            <a class="account-button__link" [routerLink]="loginPage" (click)="logOut()">LogOut</a>
        </span>
    </button>
</app-nav-bar>
<div class="container">
    <div class="home-welcome my-5">
        <h2 class="home-welcome__main">Hello, {{user.firstName}}</h2>
        <h4 class="home-welcome__desc pr-2">Welcome to Medtagger</h4>
        <hr class="home-welcome__divider"/>
    </div>
    <app-task-explorer></app-task-explorer>
    <button mat-fab class="home-upload__button" (click)="goToUploadPage()" color="accent">
        <mat-icon class="home-upload__icon" aria-label="Upload new labelling scans">cloud_upload</mat-icon>
    </button>
</div>
