<mat-sidenav-container>
  <!-- Right navigation bar -->
  <mat-sidenav #sidenav mode="over" align="end" class="right-sidebar mat-typography">
    <section class="user-profile">
      <img src="../../assets/img/user_avatar.png" alt="Avatar" class="user-avatar">
      <section class="user-details">
        <h2 class="user-name">Jan Kowalski</h2>
        <h3 class="user-login">jan.kowalski@gmail.com</h3>
      </section>
    </section>
    <hr/>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon matListIcon>apps</mat-icon>
        <h3 matLine>Strona Główna</h3>
      </a>
      <a mat-list-item routerLink="/marker-tutorial" (click)="sidenav.close()">
        <mat-icon matListIcon>label_outline</mat-icon>
        <h3 matLine>Etykietowanie</h3>
      </a>
      <a mat-list-item routerLink="/upload" (click)="sidenav.close()">
        <mat-icon matListIcon>add</mat-icon>
        <h3 matLine>Dodawanie skanów</h3>
      </a>
    </mat-nav-list>
    <hr/>
    <mat-nav-list>
      <a mat-list-item routerLink="/settings" (click)="sidenav.close()">
        <mat-icon matListIcon>settings</mat-icon>
        <h3 matLine>Ustawienia</h3>
      </a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 matLine>Wyloguj</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Whole page content -->
  <div class="mat-typography">
    <!-- Top header -->
    <mat-toolbar class="mat-elevation-z5 header" color="primary">
      <a routerLink="/home">
        <mat-icon class="header-icon">local_hospital</mat-icon>
        <span class="header-name">MedTagger</span>
      </a>
      <span class="header-page-name">{{pageTitle}}</span>
      <button mat-icon-button (click)="sidenav.toggle()" class="open-sidebar" *ngIf="!isLoginPage">
        <mat-icon aria-label="Open menu">menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Main content -->
    <div class="dynamicContent">
      <router-outlet></router-outlet>
    </div>

    <!-- Bottom footer -->
    <mat-toolbar class="mat-elevation-z5 footer" color="primary">
      <img src="../../assets/img/logo_politechnika_gdanska.png">
    </mat-toolbar>
  </div>
</mat-sidenav-container>
