// Default style for every page
$main-z-index: 1;
$main-color: rgb(54, 53, 53);
body {
  margin: 0;
}

.dynamicContent {
  height: 100vh;
  padding: 5em 0;
  box-sizing: border-box;
}

.toolbar-icon {
  margin-right: 0.5em;
}

.header {
  position: fixed;
  top: 0;
  background: #353535;
  z-index: 2;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #353535;
  z-index: 2;
}
