<section *ngIf="!multipleScans">
    <input [accept]="ACCEPTED_FILE_TYPES" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple/>
    <button type="button" mat-raised-button (click)="selectFile()">
        <mat-icon>recent_actors</mat-icon>
        <span *ngIf="!scans.length">Select DICOM images</span>
        <span *ngIf="scans.length">Selected <span>{{scans[0].files.length}}</span> DICOM images</span>
    </button>
</section>

<section *ngIf="multipleScans">
    <input type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple disabled directory/>
    <button type="button" mat-raised-button (click)="selectFile()">
        <mat-icon>folder</mat-icon>
        <span [hidden]="scans.length">Select directory with Scans</span>
        <span [hidden]="!scans.length">Selected <span>{{scans.length}}</span> Scans</span>
    </button>
</section>
