<section *ngIf="!multipleScans">
  <input [accept]="'.dcm'" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple />
  <button type="button" mat-raised-button (click)="selectFile()">
    <mat-icon>recent_actors</mat-icon>
    <span *ngIf="!numberOfSlices">Select DICOM images</span>
    <span *ngIf="numberOfSlices">Selected <span>{{numberOfSlices}}</span> DICOM images</span>
  </button>
</section>

<section *ngIf="multipleScans">
  <input type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple webkitdirectory directory />
  <button type="button" mat-raised-button (click)="selectFile()">
    <mat-icon>folder</mat-icon>
    <span *ngIf="!numberOfScans">Select directory with Scans</span>
    <span *ngIf="numberOfScans">Selected <span>{{numberOfScans}}</span> Scans</span>
  </button>
</section>
