<section *ngIf="!multipleScans">
    <input [accept]="ACCEPTED_FILE_TYPES" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple/>
    <button type="button" mat-raised-button (click)="selectFile()">
        <mat-icon>recent_actors</mat-icon>
        <span *ngIf="!scans.length">{{ 'COMPONENT.UPLOAD_SELECTOR.SELECT_IMAGES' | translate }}</span>
        <span *ngIf="scans.length">{{ 'COMPONENT.UPLOAD_SELECTOR.SELECTED' | translate }} <span>{{ scans[0].files.length }}</span> {{ 'COMPONENT.UPLOAD_SELECTOR.DICOM_IMAGES' | translate }}</span>
    </button>
</section>

<section *ngIf="multipleScans">
    <input type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple disabled directory/>
    <button type="button" mat-raised-button (click)="selectFile()">
        <mat-icon>folder</mat-icon>
        <span [hidden]="scans.length">{{ 'COMPONENT.UPLOAD_SELECTOR.SELECT_DIR' | translate }}</span>
        <span [hidden]="!scans.length">{{ 'COMPONENT.UPLOAD_SELECTOR.SELECTED' | translate }} <span>{{ scans.length }}</span> {{ 'COMPONENT.UPLOAD_SELECTOR.SCANS' | translate }}</span>
    </button>
</section>
