<ng-container *ngIf="downloadingTasksInProgress">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</ng-container>
<div *ngIf="!downloadingTasksInProgress && tasks?.length > 0" class="task-cards">
    <mat-card class="task-card m-2 py-1" *ngFor="let task of tasks" (click)="goToLabelingPage(task)" data-cy="task">
        <div class="task-card__icon">
            <mat-icon svgIcon="{{task.key}}"></mat-icon>
        </div>
        <div class="task-card__name">
            <span class="task-card__name-main">{{task.name}}</span>
            <span class="task-card__name-desc">{{task.name}}</span>
        </div>
        <div class="task-card__action">
            <mat-icon>play_arrow</mat-icon>
        </div>
    </mat-card>
</div>

