<app-nav-bar>
</app-nav-bar>
<div class="container">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <!-- Select Dataset mode -->
        <mat-step [stepControl]="chooseDatasetFormGroup">
            <form [formGroup]="chooseDatasetFormGroup">
                <ng-template matStepLabel>{{ 'UPLOAD.DATASET.LABEL' | translate }}</ng-template>
                <div class="middle-screen-width">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ 'UPLOAD.DATASET.TITLE' | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field>
                                <mat-select placeholder="{{ 'UPLOAD.DATASET.PLACEHOLDER' | translate }}" formControlName="dataset" required data-cy="datasets">
                                    <mat-option *ngFor="let availableDataset of availableDatasets"
                                                [value]="availableDataset.key">
                                        {{ availableDataset.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="pull-right" mat-raised-button matStepperNext color="primary" data-cy="datasets-submit">
                                {{ 'UPLOAD.BUTTON.SELECT' | translate }}
                            </button>
                            <div class="clearfix"></div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </form>
        </mat-step>
    
        <!-- Select Upload Mode step -->
        <mat-step [stepControl]="chooseModeFormGroup" #chooseModeStep>
            <form [formGroup]="chooseModeFormGroup">
                <ng-template matStepLabel>{{ 'UPLOAD.UPLOAD_MODE.LABEL' | translate }}</ng-template>
                <input type="hidden" required formControlName="modeChosen">
                <div class="middle-screen-width">
                    <mat-card class="upload-mode">
                        <mat-card-header>
                            <mat-card-title>{{ 'UPLOAD.UPLOAD_MODE.SINGLE.TITLE' | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{ 'UPLOAD.UPLOAD_MODE.SINGLE.DESCRIPTION' | translate }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="pull-right" mat-raised-button color="primary"
                                    (click)="selectUploadMode(UploadMode.SINGLE_SCAN)" data-cy="single-scan">
                                    {{ 'UPLOAD.BUTTON.SELECT' | translate }}
                            </button>
                            <div class="clearfix"></div>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card class="upload-mode">
                        <mat-card-header>
                            <mat-card-title>{{ 'UPLOAD.UPLOAD_MODE.MULTIPLE.TITLE' | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{ 'UPLOAD.UPLOAD_MODE.MULTIPLE.DESCRIPTION' | translate }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="pull-right" mat-raised-button color="primary"
                                    (click)="selectUploadMode(UploadMode.MULTIPLE_SCANS)" *ngIf="isGoogleChrome()">
                                    {{ 'UPLOAD.BUTTON.SELECT' | translate }}
                            </button>
                            <span class="button-wrapper" *ngIf="!isGoogleChrome()"
                                  matTooltip="This mode is available only on Google Chrome" matTooltipPosition="above">
                                <button class="pull-right" mat-raised-button color="primary"
                                        (click)="selectUploadMode(UploadMode.MULTIPLE_SCANS)" disabled>
                                        {{ 'UPLOAD.BUTTON.SELECT' | translate }}
                                </button>
                            </span>
                            <div class="clearfix"></div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </form>
        </mat-step>
    
        <!-- Select Scan/Scans step -->
        <mat-step [stepControl]="chooseFilesFormGroup" #chooseFilesStep>
            <form [formGroup]="chooseFilesFormGroup">
                <input type="hidden" required formControlName="filesChosen">
                <section *ngIf="uploadMode == UploadMode.SINGLE_SCAN">
                    <ng-template matStepLabel>{{ 'UPLOAD.SELECT_SCAN.SINGLE.LABEL' | translate }}</ng-template>
                    <div class="middle-screen-width">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>{{ 'UPLOAD.SELECT_SCAN.SINGLE.BEFORE_SELECTION.TITLE' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{ 'UPLOAD.SELECT_SCAN.SINGLE.BEFORE_SELECTION.DESCRIPTION' | translate }}</p>
                                <p>
                                    <strong>
                                        {{ 'UPLOAD.SELECT_SCAN.SINGLE.BEFORE_SELECTION.SIZE_LIMIT' | translate }}:
                                    </strong>
                                     5 MB
                                </p>
    
                                <!-- Warning about incompatible Files -->
                                <section class="box-message warning-message" *ngIf="incompatibleFiles.length">
                                    <mat-icon>warning</mat-icon>
                                    <p>
                                        {{ 'UPLOAD.SELECT_SCAN.SINGLE.BEFORE_SELECTION.WARNING' | translate }}
                                    </p>
                                    <mat-list dense>
                                        <mat-list-item class="incompatible-file" *ngFor="let incompatibleFile of incompatibleFiles">
                                            <mat-icon matListIcon>attachment</mat-icon>
                                            <span matLine>{{ incompatibleFile.file.name }}</span>
                                            <mat-icon [matTooltip]="incompatibleFile.reason">info_outline</mat-icon>
                                        </mat-list-item>
                                    </mat-list>
                                </section>
                            </mat-card-content>
                            <mat-card-actions>
                                <app-upload-scans-selector #uploadSingleScanSelector (onFileSelect)="chooseFiles($event)"
                                                       [multipleScans]="false" style="float: left;"></app-upload-scans-selector>
                                <div class="clearfix"></div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
    
                    <!-- Information about Scans that will be sent -->
                    <div class="middle-screen-width" *ngIf="scans.length > 0">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>{{ 'UPLOAD.SELECT_SCAN.SINGLE.AFTER_SELECTION.TITLE' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <!-- Tip about Predefined Labels -->
                                <section class="box-message info-message" *ngIf="!hasPredefinedLabels">
                                    <mat-icon>info</mat-icon>
                                    <p>
                                        <strong>{{ 'UPLOAD.TIP' | translate }}</strong> 
                                        {{ 'UPLOAD.SELECT_SCAN.SINGLE.AFTER_SELECTION.DESCRIPTION' | translate }}
                                    </p>
                                </section>
    
                                <!-- Show list of selected Scans -->
                                <mat-list dense>
                                    <mat-list-item *ngFor="let selectedScan of scans">
                                        <mat-icon matListIcon>recent_actors</mat-icon>
                                        <p class="scan-directory" matLine>{{ selectedScan.directory }}</p>
                                        <span class="scan-status" matTooltip="{{selectedScan.predefinedLabelsTasks.join(', ')}}">
                                            {{ selectedScan.predefinedLabels.length }} {{ 'UPLOAD.PREFEDINED_LABELS' | translate }}
                                        </span>
                                    </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="uploadFiles()"
                                        *ngIf="totalNumberOfSlices != 0" style="float: right;" data-cy="single-scan-upload">
                                    <mat-icon>file_upload</mat-icon>
                                    {{ 'UPLOAD.BUTTON.UPLOAD' | translate }}
                                </button>
                                <span class="button-wrapper" *ngIf="totalNumberOfSlices == 0"
                                      matTooltip="Please select at least one DICOM file" matTooltipPosition="above">
                                    <button mat-raised-button color="primary" (click)="uploadFiles()" style="float: right;" disabled>
                                        <mat-icon>file_upload</mat-icon>
                                        {{ 'UPLOAD.BUTTON.UPLOAD' | translate }}
                                    </button>
                                </span>
                                <div class="clearfix"></div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </section>
                <section *ngIf="uploadMode == UploadMode.MULTIPLE_SCANS">
                    <ng-template matStepLabel>{{ 'UPLOAD.SELECT_SCAN.MULTIPLE.LABEL' | translate }}</ng-template>
                    <div class="middle-screen-width">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>{{ 'UPLOAD.SELECT_SCAN.MULTIPLE.BEFORE_SELECTION.TITLE' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{ 'UPLOAD.SELECT_SCAN.MULTIPLE.BEFORE_SELECTION.DESCRIPTION' | translate }}</p>
                                <p>
                                    <strong>{{ 'UPLOAD.SELECT_SCAN.MULTIPLE.BEFORE_SELECTION.SIZE_LIMIT' | translate }}:</strong>
                                     5 MB
                                </p>
    
                                <!-- Warning about incompatible Files -->
                                <section class="box-message warning-message" *ngIf="incompatibleFiles.length">
                                    <mat-icon>warning</mat-icon>
                                    <p>
                                        {{ 'UPLOAD.SELECT_SCAN.MULTIPLE.BEFORE_SELECTION.WARNING' | translate }}
                                    </p>
                                    <mat-list dense>
                                        <mat-list-item class="incompatible-file" *ngFor="let incompatibleFile of incompatibleFiles">
                                            <mat-icon matListIcon>attachment</mat-icon>
                                            <span matLine>{{ incompatibleFile.file.webkitRelativePath }}</span>
                                            <mat-icon [matTooltip]="incompatibleFile.reason">info_outline</mat-icon>
                                        </mat-list-item>
                                    </mat-list>
                                </section>
                            </mat-card-content>
                            <mat-card-actions>
                                <app-upload-scans-selector #uploadMultipleScansSelector (onFileSelect)="chooseFiles($event)"
                                                       [multipleScans]="true" style="float: left;"></app-upload-scans-selector>
                                <div class="clearfix"></div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
    
                    <!-- Information about Scans that will be sent -->
                    <div class="middle-screen-width" *ngIf="scans.length > 0">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>{{ 'UPLOAD.SELECT_SCAN.MULTIPLE.AFTER_SELECTION.TITLE' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <!-- Tip about Predefined Labels -->
                                <section class="box-message info-message" *ngIf="!hasPredefinedLabels">
                                    <mat-icon>info</mat-icon>
                                    <p>
                                        <strong>{{ 'UPLOAD.TIP' | translate }}</strong> {{ 'UPLOAD.SELECT_SCAN.MULTIPLE.AFTER_SELECTION.DESCRIPTION' | translate }}
                                    </p>
                                </section>
    
                                <!-- Show list of selected Scans -->
                                <mat-list dense>
                                    <mat-list-item *ngFor="let selectedScan of scans">
                                        <mat-icon matListIcon>recent_actors</mat-icon>
                                        <p class="scan-directory" matLine>{{selectedScan.directory}}</p>
                                        <span class="scan-status" matTooltip="{{selectedScan.predefinedLabelsTasks.join(', ')}}">
                                            {{ selectedScan.predefinedLabels.length }} {{ 'UPLOAD.PREFEDINED_LABELS' | translate }}
                                        </span>
                                    </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="uploadFiles()"
                                        *ngIf="totalNumberOfSlices != 0" style="float: right;">
                                    <mat-icon>file_upload</mat-icon>
                                    {{ 'UPLOAD.BUTTON.UPLOAD' | translate }}
                                </button>
                                <span class="button-wrapper" *ngIf="totalNumberOfSlices == 0"
                                      matTooltip="Please select at least one DICOM file" matTooltipPosition="above">
                                    <button mat-raised-button color="primary" (click)="uploadFiles()" style="float: right;" disabled>
                                        <mat-icon>file_upload</mat-icon>
                                        {{ 'UPLOAD.BUTTON.UPLOAD' | translate }}
                                    </button>
                                </span>
                                <div class="clearfix"></div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </section>
            </form>
        </mat-step>
    
        <!-- Upload step -->
        <mat-step [stepControl]="sendingFilesFormGroup" #sendingFilesStep>
            <form [formGroup]="sendingFilesFormGroup">
                <input type="hidden" required formControlName="filesSent">
                <ng-template matStepLabel>{{ 'UPLOAD.UPLOAD_STEP.LABEL' | translate }}</ng-template>
                <div class="middle-screen-width">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title *ngIf="uploadMode == UploadMode.SINGLE_SCAN">{{ 'UPLOAD.UPLOAD_STEP.TITLE.SINGLE' | translate }}...</mat-card-title>
                            <mat-card-title *ngIf="uploadMode == UploadMode.MULTIPLE_SCANS">{{ 'UPLOAD.UPLOAD_STEP.TITLE.MULTIPLE' | translate }}...</mat-card-title>
                            <p class="overall-status">{{ slicesSent }}/{{ totalNumberOfSlices }} {{ 'UPLOAD.UPLOAD_STEP.DICOMS' | translate }}</p>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                            <mat-list dense>
                                <!-- At the top of the list show all Uploading and Processing Scans -->
                                <mat-list-item *ngFor="let uploadingScan of uploadingAndProcessingScans">
                                    <mat-icon matListIcon>recent_actors</mat-icon>
                                    <p class="scan-directory" matLine>{{ uploadingScan.scan.directory }}</p>
                                    <mat-icon class="spinner upload-status progress-color">autorenew</mat-icon>
                                    <span [ngSwitch]="uploadingScan.status">
                                        <span class="scan-status" *ngSwitchCase="UploadingScanStatus.UPLOADING">{{ 'UPLOAD.UPLOAD_STEP.STATUS.UPLOADING' | translate }}</span>
                                        <span class="scan-status" *ngSwitchCase="UploadingScanStatus.WAITING_FOR_PROCESSING">{{ 'UPLOAD.UPLOAD_STEP.STATUS.WAITING' | translate }}</span>
                                        <span class="scan-status" *ngSwitchDefault>{{ 'UPLOAD.UPLOAD_STEP.STATUS.PROCESSING' | translate }}</span>
                                    </span>
                                </mat-list-item>
    
                                <!-- Then show all Scans with Errors -->
                                <mat-list-item *ngFor="let uploadingScan of errorScans">
                                    <mat-icon matListIcon>recent_actors</mat-icon>
                                    <p matLine>{{ uploadingScan.scan.directory }}</p>
                                    <mat-icon class="upload-status error-color">error</mat-icon>
                                    <span class="scan-status">{{ 'UPLOAD.UPLOAD_STEP.STATUS.ERROR' | translate }}</span>
                                </mat-list-item>
    
                                <!-- After Errors show all Available Scans -->
                                <mat-list-item *ngFor="let uploadingScan of availableScans">
                                    <mat-icon matListIcon>recent_actors</mat-icon>
                                    <p matLine>{{ uploadingScan.scan.directory }}</p>
                                    <mat-icon class="upload-status success-color">done</mat-icon>
                                    <span class="scan-status">{{ 'UPLOAD.UPLOAD_STEP.STATUS.AVAILABLE' | translate }}</span>
                                </mat-list-item>
    
                                <!-- At the end of the list show all Queued Scans -->
                                <mat-list-item *ngFor="let uploadingScan of queuedScans">
                                    <mat-icon matListIcon>recent_actors</mat-icon>
                                    <p matLine>{{ uploadingScan.scan.directory }}</p>
                                    <mat-icon class="upload-status queue-color">timer</mat-icon>
                                    <span class="scan-status">{{ 'UPLOAD.UPLOAD_STEP.STATUS.QUEUED' | translate }}</span>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </form>
        </mat-step>
    
        <!-- Summary step -->
        <mat-step [stepControl]="uploadCompletedFormGroup" [editable]="false" #uploadCompletedStep>
            <ng-template matStepLabel>{{ 'UPLOAD.SUMMARY.LABEL' | translate }}</ng-template>
            <div class="middle-screen-width">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ 'UPLOAD.SUMMARY.TITLE' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- Big box with success/warning/error message inside -->
                        <section class="box-message success-message" *ngIf="availableScans.length == scans.length">
                            <mat-icon>check</mat-icon>
                            <p>
                                {{ 'UPLOAD.SUMMARY.DESCRITPION' | translate }}
                            </p>
                        </section>
                        <section class="box-message warning-message" *ngIf="availableScans.length != scans.length && errorScans.length != scans.length">
                            <mat-icon>warning</mat-icon>
                            <p>
                                {{ 'UPLOAD.SUMMARY.WARNING' | translate }}
                            </p>
                        </section>
                        <section class="box-message error-message" *ngIf="errorScans.length == scans.length">
                            <mat-icon>error</mat-icon>
                            <p>
                                {{ 'UPLOAD.SUMMARY.ERROR' | translate }}
                            </p>
                        </section>
    
                        <!-- List all errors that took place during upload -->
                        <section *ngIf="errorScans.length > 0">
                            <h3 class="scans-with-issues">{{ 'UPLOAD.SUMMARY.SCANS_ISSUES' | translate }}</h3>
                            <button class="selector-button-error-scans" mat-button color="primary-color" (click)="scansForRetry.selectAll()">
                                {{ 'UPLOAD.SUMMARY.ACTION.SELECT_ALL' | translate }}
                            </button>
                            <button class="selector-button-error-scans" mat-button color="primary-color" (click)="scansForRetry.deselectAll()">
                                {{ 'UPLOAD.SUMMARY.ACTION.DESELECT_ALL' | translate }}
                            </button>
                            <div style="clear: both;"></div>
    
                            <!-- Then show all Scans with Errors -->
                            <mat-selection-list dense #scansForRetry>
                                <mat-list-option *ngFor="let uploadingScan of errorScans" [value]="uploadingScan">
                                    <!-- TODO: It would be nice to add mat-icon here but Material Design has a bug... -->
                                    {{ uploadingScan.scan.directory }}
                                </mat-list-option>
                            </mat-selection-list>
                        </section>
    
                        <!-- Buttons with actions that can be taken -->
                        <button mat-raised-button class="restart-button" color="primary-color" (click)="restart()">
                            <mat-icon>navigate_before</mat-icon>
                            {{ 'UPLOAD.SUMMARY.ACTION.UPLOAD_MORE' | translate }}
                        </button>
                        <button mat-raised-button class="upload-again-button" color="primary-color" (click)="uploadAgain()" *ngIf="!!scansForRetry && errorScans.length > 0" [disabled]="scansForRetry.selectedOptions.selected.length == 0">
                            <mat-icon>replay</mat-icon>
                            {{ 'UPLOAD.SUMMARY.ACTION.UPLOAD_SELECTED' | translate }}
                        </button>
                        <div style="clear: both;"></div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
