<app-nav-bar>
    <div class="marker-nav">
        <div class="marker-nav--actions">
            <button mat-mini-fab 
                color="primary" 
                class="window-change-button" 
                (click)="toggleColorWindowPanel()"
                matTooltip="{{ 'MARKER.TOOLTIPS.IMG_WINDOW' | translate }}"
                [matTooltipShowDelay]="tooltipShowDelay.value">
                <mat-icon [svgIcon]="'contrast-box'"></mat-icon>
            </button>
            <div *ngIf="colorWindowPanelActive" id="color-window-panel" class="color-window-panel">
                <mat-card class="color-window-panel--card">
                    <mat-card-header class="color-window-panel--card__header">
                        <mat-card-title>{{ 'MARKER.NAVBAR.ZOOM.TITLE' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'MARKER.NAVBAR.ZOOM.SUBTITLE' | translate }}</mat-card-subtitle>
                        <button mat-icon-button (click)="toggleColorWindowPanel()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content class="color-window-panel--card__content">
                        <mat-divider [inset]="true"></mat-divider>
                        <span>
                            {{ 'MARKER.NAVBAR.ZOOM.WINDOW_WIDTH' | translate }}: {{colorWindowWidth}} 
                        </span>
                        <mat-slider (change)="changeImageWindowWidth($event.value)"
                                    [disabled]="false"
                                    [max]="255"
                                    [min]="1" 
                                    [step]="1" 
                                    [tickInterval]="1"
                                    [value]="colorWindowWidth">
                        </mat-slider>
                        <span>
                            {{ 'MARKER.NAVBAR.ZOOM.WINDOW_CENTER' | translate }}: {{colorWindowCenter}}
                        </span>
                        <mat-slider (change)="changeImageWindowCenter($event.value)"
                                    [disabled]="false"
                                    [max]="255"
                                    [min]="0" 
                                    [step]="1" 
                                    [tickInterval]="1"
                                    [value]="colorWindowCenter">
                        </mat-slider>
                    </mat-card-content>
                    <mat-card-actions class="color-window-panel--card__actions">
                        <button mat-button color="primary" (click)="resetColorWindowPanel()">{{ 'MARKER.NAVBAR.ZOOM.DEFAULT' | translate }}</button>
                      </mat-card-actions>
                </mat-card>
            </div>
            <button mat-mini-fab
                (click)="zoomIn()"
                matTooltip="{{ 'MARKER.TOOLTIPS.ZOOM_IN' | translate }}"
                [disabled]="!zoomHandler.zoomInAvailable()"
                [color]="isCurrentTool('ZOOM_IN') ? 'accent' : 'primary'">
                <mat-icon [svgIcon]="getToolIconName('ZOOM_IN')"></mat-icon>
            </button>
            <button mat-mini-fab
                (click)="zoomOut()"
                matTooltip="{{ 'MARKER.TOOLTIPS.ZOOM_OUT' | translate }}"
                [disabled]="!zoomHandler.zoomOutAvailable()"
                [color]="isCurrentTool('ZOOM_OUT') ? 'accent' : 'primary'">
                <mat-icon [svgIcon]="getToolIconName('ZOOM_OUT')"></mat-icon>
            </button>
            <div class="marker-nav--actions__comment">
                <button mat-raised-button
                    color="primary"
                    (click)="addLabelComment()"
                    matTooltip="{{ 'MARKER.TOOLTIPS.COMMENT' | translate }}"
                    [matTooltipShowDelay]="tooltipShowDelay.value"
                    [disabled]="selections.isEmpty()">
                    {{ (this.labelComment === '' ? 'MARKER.NAVBAR.COMMENT.ADD' : 'MARKER.NAVBAR.COMMENT.MODIFY') | translate }}
                </button>
            </div>
        </div>
        <div class="marker-nav--finish">
            <button mat-raised-button
                color="primary"
                (click)="skipScan()"
                matTooltip="{{ 'MARKER.TOOLTIPS.SKIP_SCAN' | translate }}"
                [matTooltipShowDelay]="tooltipShowDelay.value">
                [disabled]="marker.isDownloadingInProgress()"
                {{ 'MARKER.NAVBAR.BUTTON.SKIP' | translate }}
            </button>
            <button *ngIf="!selections.isEmpty()"
                mat-raised-button
                color="accent"
                [disabled]="marker.isDownloadingInProgress()"
                (click)="sendCompleteLabel()"
                matTooltip="{{ 'MARKER.TOOLTIPS.SEND_SCAN' | translate }}"
                [matTooltipShowDelay]="tooltipShowDelay.value"
                data-cy="send-label">
                {{ 'MARKER.NAVBAR.BUTTON.SEND' | translate }}
            </button>
            <button *ngIf="selections.isEmpty()"
                mat-raised-button
                color="accent"
                (click)="sendEmptyLabel()"
                matTooltip="{{ 'MARKER.TOOLTIPS.NO_TAG' | translate }}"
                [matTooltipShowDelay]="tooltipShowDelay.value">
                [disabled]="marker.isDownloadingInProgress()"
                {{ 'MARKER.NAVBAR.BUTTON.NO_TAG' | translate }}
            </button>
        </div>
    </div>
</app-nav-bar>
<div class="marker">
    <div class="marker-toolbox">
        <h3 class="marker-toolbox--header">{{ 'MARKER.HEADER.TOOLS' | translate }}</h3>
        <div class="marker-toolbox--content d-flex flex-column align-items-center">
            <mat-form-field class="marker-toolbox--select">
                <mat-select placeholder="{{ 'MARKER.ACTIVE_TAG_PLACEHOLDER' | translate }}" data-cy="tags">
                    <mat-option *ngFor="let tag of (task ? task.tags : [])" [value]="tag" (click)="setTag(tag)">
                        {{ tag.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="marker-toolbox--buttons">
                <button mat-mini-fab
                    (click)="setTool('RECTANGLE')"
                    [color]="isCurrentTool('RECTANGLE') ? 'accent' : 'primary'"
                    [disabled]="!isToolSupportedByCurrentTag('RECTANGLE')"
                    matTooltip="{{ 'MARKER.TOOLTIPS.RECT_TOOL' | translate }}"
                    [matTooltipShowDelay]="tooltipShowDelay.value"
                    data-cy="rectangle-tool">
                    <mat-icon [svgIcon]="getToolIconName('RECTANGLE')"></mat-icon>
                </button>
                <button mat-mini-fab
                    (click)="setTool('BRUSH')"
                    [color]="isCurrentTool('BRUSH') ? 'accent' : 'primary'"
                    [disabled]="!isToolSupportedByCurrentTag('BRUSH')"
                    matTooltip="{{ 'MARKER.TOOLTIPS.BRUSH_TOOL' | translate }}"
                    [matTooltipShowDelay]="tooltipShowDelay.value"
                    data-cy="brush-tool">
                    <mat-icon [svgIcon]="getToolIconName('BRUSH')"></mat-icon>
                </button>
                <button mat-mini-fab
                    [color]="isCurrentTool('POINT') ? 'accent' : 'primary'"
                    [disabled]="!isToolSupportedByCurrentTag('POINT')"
                    (click)="setTool('POINT')"
                    matTooltip="{{ 'MARKER.TOOLTIPS.POINT_TOOL' | translate }}"
                    [matTooltipShowDelay]="tooltipShowDelay.value"
                    data-cy="point-tool">
                    <mat-icon [svgIcon]="getToolIconName('POINT')"></mat-icon>
                </button>
                <button mat-mini-fab
                    (click)="setTool('CHAIN')"
                    [color]="isCurrentTool('CHAIN') ? 'accent' : 'primary'"
                    [disabled]="!isToolSupportedByCurrentTag('CHAIN')"
                    matTooltip="{{ 'MARKER.TOOLTIPS.CHAIN_TOOL' | translate }}"
                    [matTooltipShowDelay]="tooltipShowDelay.value"
                    data-cy="chain-tool">
                    <mat-icon [svgIcon]="getToolIconName('CHAIN')"></mat-icon>
                </button>
            </div>
        </div>

        <ng-container *ngIf="!toolActions.isEmpty()">
            <h3 class="marker-toolbox--header">{{ 'MARKER.HEADER.TOOL_ACTIONS' | translate }}</h3>
            <div class="marker-toolbox--content">
                <mat-chip-list>
                    <mat-chip
                        *ngFor="let action of toolActions"
                        (click)="action.trigger()"
                        [color]="action.isActive && action.enable() ? 'accent' : 'primary'"
                        selected>
                        <ng-container *ngIf="action.type === ActionType.BUTTON">{{ 'MARKER.TOOL_ACTIONS.' + action.name | translate }}</ng-container>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>

        <h3 class="marker-toolbox--header">{{ 'MARKER.HEADER.LABELS' | translate }}</h3>
        <div class="marker-toolbox--content label-explorer pt-1">
            <app-label-explorer [(selections)]=selections></app-label-explorer>
        </div>
    </div>
    <div class="marker-content">
        <app-marker-component #marker
                              [(selections)]="selections"
                              [tools]="tools"
                              [currentTool]="currentTool"
                              [currentTag]="currentTag"></app-marker-component>
    </div>
</div>
<div class="marker-info">
    {{ 'MARKER.SCREEN_INFO' | translate }}
</div>
