@import '../../components/marker/marker.component.scss';

button {
    position: relative;
    top: $canvas-size;
    margin: 1%;
}

.marker-page {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100vw;
    height: calc(100vh - 64px);
}

.marker-toolbox {
    display: grid;
    grid-template-rows: 110px 150px auto 90px;  // TODO: Remove it and do it properly! 
    justify-content: start;
    background-color: #fafafa;
    border-right: 1px solid #0277bd;  // TODO: What variable should I use? Nav color = #0277bd
    grid-column: 1;
    grid-row: 1;

    h3 {
        color: white;
        padding: 8px 16px;
        margin: 0px;
        background-color: #0277bd;
    }

    .tags {
        grid-column: 1;
        grid-row: 1;

        mat-form-field {
            width: 270px;
            margin: 10px 15px 0 15px;
        }
    }

    .tools {
        grid-column: 1;
        grid-row: 2;

        .buttons {
            margin: 8px 16px;
            button {
                top: 0px;
            }
        }
    }

    .labels {
        grid-column: 1;
        grid-row: 3;
            
        p {
            padding-left: 8px;
        }
        
        mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
            vertical-align: top;
        }

        .mat-line {
            font-size: 14px;
        }

        button {
            top: 0px;
            
            mat-icon {
                vertical-align: sub;
            }
        }
    }

    .actions {
        grid-column: 1;
        grid-row: 4;

        button {
            top: 0px;
        }
    }
}

.marker-content {
    background-color: black;
    display: inline-grid;
    grid-column: 2;
    grid-row: 1;
}

.canvasInterface {
    position: relative;
    width: $canvas-size;
}

.button-row {
    text-align: center;
}
