@import '../../components/marker/marker.component.scss';

button {
    position: relative;
    top: $canvas-size;
    margin: 1%;
}

.marker-page {
    margin: 10px auto;
}

.canvasInterface {
    position: relative;
    margin: 0 auto;
    width: $canvas-size;
}

.button-row {
    text-align: center;
}

.scanSpinner {
  margin: 200px auto 0;
}
