@import '../../components/marker/marker.component.scss';

$top-header-size: 64px;
$top-header-color: #0277bd;
$toolbox-width: 300px;

button {
    margin: 5px;
}

.marker-page {
    display: grid;
    grid-template-columns: $toolbox-width auto;
    width: 100vw;
    height: calc(100vh - #{$top-header-size});
    overflow: hidden;
}

.marker-toolbox {
    display: flex;
    height: inherit;
    flex-direction: column;
    background-color: #fafafa;
    border-right: 1px solid $top-header-color;
    grid-column: 1;
    grid-row: 1;

    h3 {
        color: white;
        padding: 8px 16px;
        margin: 0px;
        background-color: $top-header-color;
    }

    .tags {
        mat-form-field {
            width: $toolbox-width - 30px;
            margin: 10px 15px 0 15px;
        }
    }

    .tools {
        .buttons {
            margin: 8px 16px;
        }

        .action-buttons {
            button {
                font-size: 14px;
                min-width: 0;
                border-radius: 30px;
            }
        }
    }

    app-label-explorer {
        overflow-y: auto;
    }

    .actions {
        margin-top: auto;

        .buttons {
            display: flex;

            button {
                flex-basis: 0;
                flex-grow: 1;
            }
        }
    }
}

.marker-content {
    background-color: black;
    display: inline-grid;
    grid-column: 2;
    grid-row: 1;
}

.canvasInterface {
    position: relative;
    width: $canvas-size;
}

