@import "styles/mixins";

$toolbox-width: 300px;

.mat-icon {
    display: flex;
}

.mat-chip {
    cursor: pointer;
}

.color-window-panel {
    display: block;
    position: fixed;
    z-index: 1;
    transform:translateY(65%);

    &--card {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__content {
            display: flex;
            flex-direction: column;

            mat-slider {
                width: 300px;
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;

            button {
                color: white;
            }
        }
    }
}

.marker {
    @include media-breakpoint-up(md){
        display: flex;
    }
    display: none;
    width: 100vw;
    height: calc(100vh - #{$size-height-nav});
    overflow: hidden;

    &-nav {
        display: flex;
        align-items: center;
        height: 100%;

        &--actions {
            display: flex;
            align-items: center;
            height: 100%;
            border-right: 1px solid color('white', medium) ;
            > * {
                margin-right: 0.7em;
            }
        }

        &--finish {
            > * {
                margin: 0 0.5em;
            }
        }

        .mat-primary:not([disabled]) {
            background-color: mat-color($primary, 500);
        }
    }
    &-toolbox {
        display: flex;
        width: $toolbox-width;
        height: inherit;
        flex-direction: column;
        background-color: color('card');

        &--header {
            padding: 0.6em 0.8em;
            font-size: 1em;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            margin: 0px;
            background-color: mat-color($primary, 800);
        }

        &--content {
            padding: 1em 0.3em;
            flex-shrink: 0;
            overflow-y: auto;

            &.label-explorer {
                flex: 1;
            }
        }

        &--select {
            width: 90%;
        }

        &--buttons {
            flex-wrap: wrap;
            display: flex;
            padding: 0.5em 0.6em;
            button {
                margin: 0.3em;
            }
        }
    }

    &-content {
        background-color: black;
        display: inline-grid;
        flex-grow: 1;
    }

    &-info {
        @include media-breakpoint-up(md){
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: calc(100vh - #{$size-height-nav});
    }
}
