<div class="marker-page">
    <div class="innerElement canvasInterface">
        <app-marker-component #marker></app-marker-component>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="skipScan()" *ngIf="!this.marker.selectionState.hasArchive">
                Skip scan
            </button>
            <button mat-raised-button color="primary" (click)="skipScan()" *ngIf="this.marker.selectionState.hasArchive">
                Next scan
            </button>
            <button mat-raised-button color="warn" [disabled]="!this.marker.selectionState.is2d"
                    (click)="remove2dSelection()">Delete current label
            </button>
            <button mat-raised-button color="accent" [disabled]="!this.marker.selectionState.isValid" (click)="sendCompleteLabel()">
                Send label
            </button>
            <button mat-raised-button color="accent" [disabled]="this.marker.selectionState.hasArchive || this.marker.selectionState.isValid" (click)="sendEmptyLabel()">
                Nothing to tag
            </button>
        </div>
        <div *ngIf="downloadingScanInProgress">
            <mat-progress-spinner class="scanSpinner" mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>
    </div>
</div>
