<app-nav-bar>
</app-nav-bar>
<div class="marker-page">
    <div class="marker-toolbox">
        <div class="tags">
            <h3 class="category__name">Tags</h3>
            <mat-form-field>
                <mat-select placeholder="Current Tag" [formControl]="taskTags" data-cy="tags">
                    <mat-option *ngFor="let tag of (task ? task.tags : [])" [value]="tag" (click)="setTag(tag)">
                        {{ tag.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="tools">
            <h3 class="category__name">Tools</h3>
            <div class="buttons">
                <button mat-mini-fab
                        [color]="isCurrentTool('RECTANGLE') ? 'accent' : 'primary'"
                        [disabled]="!isToolSupportedByCurrentTag('RECTANGLE')" (click)="setTool('RECTANGLE')"
                        data-cy="rectangle-tool">
                    <mat-icon [svgIcon]="getToolIconName('RECTANGLE')"></mat-icon>
                </button>
                <button mat-mini-fab
                    [color]="isCurrentTool('BRUSH') ? 'accent' : 'primary'"
                    [disabled]="!isToolSupportedByCurrentTag('BRUSH')" (click)="setTool('BRUSH')"
                        data-cy="brush-tool">
                    <mat-icon [svgIcon]="getToolIconName('BRUSH')"></mat-icon>
                </button>
                <button mat-mini-fab
                        [color]="isCurrentTool('POINT') ? 'accent' : 'primary'"
                        [disabled]="!isToolSupportedByCurrentTag('POINT')" (click)="setTool('POINT')"
                        data-cy="point-tool">
                    <mat-icon [svgIcon]="getToolIconName('POINT')"></mat-icon>
                </button>
                <button mat-mini-fab
                        [color]="isCurrentTool('CHAIN') ? 'accent' : 'primary'"
                        [disabled]="!isToolSupportedByCurrentTag('CHAIN')" (click)="setTool('CHAIN')"
                        data-cy="chain-tool">
                    <mat-icon [svgIcon]="getToolIconName('CHAIN')"></mat-icon>
                </button>
                <button mat-mini-fab
                    (click)="zoomIn()"
                    [disabled]="currentZoomLevelIndex >= zoomLevels.length - 1"
                    [color]="isCurrentTool('ZOOM_IN') ? 'accent' : 'primary'"
                    [ngClass]="{'active-button': isCurrentTool('ZOOM_IN')}">
                    <mat-icon [svgIcon]="getToolIconName('ZOOM_IN')"></mat-icon>
                </button>
                <button mat-mini-fab
                    (click)="zoomOut()"
                    [disabled]="currentZoomLevelIndex <= 0"
                    [color]="isCurrentTool('ZOOM_OUT') ? 'accent' : 'primary'"
                    [ngClass]="{'active-button': isCurrentTool('ZOOM_OUT')}">
                    <mat-icon [svgIcon]="getToolIconName('ZOOM_OUT')"></mat-icon>
                </button>
            </div>

            <div *ngIf="toolActions.length > 0">
                <h3 class="category__name">Actions</h3>
                <div class="buttons action-buttons">
                    <span *ngFor="let action of toolActions">
                        <button mat-raised-button color="primary" *ngIf="action.type === ActionType.BUTTON"
                                [ngClass]="{'active-button': action.isActive && action.enable()}"
                                [disabled]="!action.enable()" (click)="action.trigger()">{{ action.name }}
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <h3 class="category__name">Labels</h3>
        <app-label-explorer></app-label-explorer>

        <div class="actions">
            <h3 class="category__name">Actions</h3>
            <div class="buttons" *ngIf="this.labelExplorer.getLabelsLength() > 0">
                <button mat-raised-button color="primary" (click)="addLabelComment()">
                    <span *ngIf="this.labelComment !== ''">Modify existing comment</span>
                    <span *ngIf="this.labelComment === ''">Add a comment to label</span>
                </button>
            </div>
            <div class="buttons">
                <button mat-raised-button color="primary" (click)="skipScan()">
                    Skip scan
                </button>
                <button mat-raised-button color="accent" (click)="sendCompleteLabel()"
                        *ngIf="this.labelExplorer.getLabelsLength() > 0" data-cy="send-label">
                    Send label
                </button>
                <button mat-raised-button color="accent" (click)="sendEmptyLabel()"
                        *ngIf="this.labelExplorer.getLabelsLength() == 0">
                    Nothing to tag
                </button>
            </div>
        </div>
    </div>
    <div class="marker-content">
        <div class="innerElement canvasInterface">
            <app-marker-component #marker></app-marker-component>
        </div>
    </div>
</div>
