<div class="login-side">
    <mat-card *ngIf="loginPageMode == LoginPageMode.LOG_IN">
        <mat-card-header>
            <mat-card-title>Sign in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm" (keyup.enter)="logIn()">
                <mat-form-field>
                    <input matInput type="text" placeholder="E-mail" id="email" formControlName="email"
                           required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" id="password"
                           formControlName="password" required>
                </mat-form-field>
            </form>
            <mat-card-actions>
                <button *ngIf="!loggingInProgress" mat-raised-button color="primary" (click)="logIn()">Sign in
                </button>
                <mat-progress-spinner *ngIf="loggingInProgress" class="login-spinner" mode="indeterminate"
                                      [diameter]="36"
                                      strokeWidth="2"></mat-progress-spinner>
                <div *ngIf="loggingInError" class="error">Invalid login/password!</div>
            </mat-card-actions>
            <div class="register-link">
                <span>New to MedTagger? <a routerLink="/login" (click)="changePageMode()">Create an account.</a></span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="loginPageMode == LoginPageMode.REGISTER">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm" (keyup.enter)="register()">
                <mat-form-field>
                    <input matInput type="text" id="firstName" placeholder="First name"
                           formControlName="firstName" required>
                    <mat-error *ngIf="userForm.get('firstName').invalid">{{getFirstNameErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" id="lastName" placeholder="Last name"
                           formControlName="lastName" required>
                    <mat-error *ngIf="userForm.get('lastName').invalid">{{getLastNameErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" id="email" placeholder="E-mail" formControlName="email"
                           required>
                    <mat-error *ngIf="userForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" id="password" placeholder="Password"
                           formControlName="password" required>
                    <mat-error *ngIf="userForm.get('password').invalid">{{getPasswordErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field required>
                    <input matInput type="password" id="confirmPassword" placeholder="Confirm Password"
                           formControlName="confirmPassword" required>
                    <mat-error *ngIf="userForm.get('confirmPassword').invalid">
                        {{getConfirmPasswordErrorMessage()}}
                    </mat-error>
                </mat-form-field>
            </form>
            <mat-card-actions>
                <button mat-raised-button color="primary-color" (click)="changePageMode()">
                    <mat-icon>arrow_back</mat-icon>
                    Back
                </button>
                <button mat-raised-button color="primary"
                        *ngIf="!registrationInProgress"
                        [disabled]="userForm.invalid"
                        (click)="register()">
                    Register
                </button>
                <mat-progress-spinner mode="indeterminate"
                                      [diameter]="36"
                                      strokeWidth="2"
                                      *ngIf="registrationInProgress"></mat-progress-spinner>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>

