@import "../../../styles";

.header {
    @include media-breakpoint-up(lg) {
        @include fixed(top 0 left 0);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &:before {
        @include absolute(top 0);
        @include size(100%);
        z-index: -2;
        display: block;
        background-size: cover;
        background: white url("../../../assets/img/login_pic.jpg") no-repeat center;
        content: " ";
    }
    &:after {
        @include absolute(top 0 left 0);
        @include size(100%);
        z-index: -1;
        display: block;
        background: rgba(mat-color($primary, 800), 0.8);
        content: " ";
    }
    &-desc {
        @include media-breakpoint-only(lg) {
            max-width: 10em;
        }
        margin-top: 3em;
        max-width: 15em;
        color: $white-medium-emphasis;
        font-weight: lighter;

    }
    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img {
            @include fluid-type(576px, 1200px, 33.184px, 50.512px);
            display: inline-block;
            margin: 0 .5em 0 0;
            height: 2em;
        }
        h1 {
            margin: .5em 0 0 0;
            color: $white-high-emphasis;
            font-weight: bold;
        }
    }
}

.action {
    @include media-breakpoint-only(lg) {
        padding: 1.5em 5em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 5em;
    &-buttons {
        margin: 0 0 5em 0;
        display: flex;
        align-items: center;
        > * {
            @include size(7em, 2em);
            display: flex;
            align-items: center;
            justify-content: center;
            background: $black-8-opacity;
            text-transform: uppercase;
            cursor: pointer;
            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
            a {
                @include transition(color .2s ease-out);
                color: $black-disabled;
                &:hover, &:active, &:focus {
                    color: $black-medium-emphasis;
                    text-decoration: none;
                }
            }
            &.active {
                background: mat-color($accent);
                @include transition(background .2s ease-out);
                a {
                    color: $white-high-emphasis;
                }
                &:hover, &:active, &:focus {
                    background: mat-color($accent, 600);
                }
            }
        }
    }
    &-content {
        @include media-breakpoint-up(lg) {
            max-width: 80%;
        }
    }
    &-welcoming {
        margin: 2em 0;
        &__header {
            font-weight: bold;
        }
        &__description {
            color: $black-medium-emphasis;
            font-weight: lighter;
        }
    }

    &-form {
        @include remove-autofill;
        @include media-breakpoint-only(lg) {
            margin-bottom: 0;
        }
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        mat-form-field {
            margin-bottom: 1.2em;
            cursor: pointer;
        }
        &__submit {
            @include media-breakpoint-up(md) {
                width: 10em;
            }
            font-size: 1.5em;
            text-align: left;
            button {
                @include mat-elevation(2);
                @include mat-elevation-transition;
                width: 100%;
                font-size: 1em;
                text-transform: uppercase;
                border-radius: 5px;
                &:hover {
                    @include mat-elevation(5);
                }
            }
            mat-icon {
                font-size: 1.2em;
            }
        }
    }
}
