@import "../../utils/mixins";
@import '~@angular/material/theming';

.mat-card-title {
    font-size: 1.5em;
    position: relative;
    right: 0.5em;
}

.mat-card-actions {
    margin-left: 0;
    margin-right: 1em;
}

.login-side {
    position: relative;
    @include size(100%);
    transition: all 1s;

    &:before {
        @include absolute(top 0);
        @include size(100%);
        display: block;
        background-size: cover;
        background: white url("../../../assets/img/login_pic.jpg") no-repeat center;
        content: " ";
    }

    mat-card {
        @include absolute(top 20% right 20%);
        min-height: 20%;
        min-width: 20em;
        margin: 0;
        @include mat-elevation-transition;
        @include mat-elevation(2);
        &:hover {
            @include mat-elevation(3);
        }
    }
}

mat-card-content {
    display: flex;
    flex-direction: column;
    form {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }
    mat-card-actions {
        padding: 0;
        display: flex;
        align-items: center;

        :not(:last-child) {
            margin-right: 0.5em;
        }

        .error {
            color: red;
        }
    }

    button {
        &:not(:disabled) {
            @include mat-elevation-transition;
            @include mat-elevation(3);
            &:hover {
                @include mat-elevation(5);
            }
        }
    }
}

.register-link {
    padding-top: 15px;
    border-top: 1px solid #bbb;
}

