<div class="tasks">
    <div class="button-row" *ngIf="downloadingTasksInProgress">
         <mat-progress-spinner id="datasetsSpinner" [diameter]="150" [strokeWidth]="15" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
    <div class="button-row" *ngIf="!downloadingTasksInProgress && tasks?.length == 0">
      <div class="title-row">
        <span>No tasks available<mat-icon id="failure-icon">sentiment_very_dissatisfied</mat-icon></span>
      </div>
       <button mat-button id="back-button" color="accent" routerLink="/home">Go back</button>
    </div>
    <div class="button-row" *ngIf="!downloadingTasksInProgress && tasks?.length > 0">
        <button mat-fab *ngFor="let task of tasks" routerLink="/labelling" [queryParams]="{task: task.key}">
            <mat-icon svgIcon="{{task.key}}"></mat-icon>
            <div>{{task.name}}</div>
        </button>
        <div class="title-row">
            <span>Choose examination task</span>
        </div>
    </div>
</div>
