<section *ngIf="!multipleScans">
  <input [accept]="'.dcm'" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple />
  <button type="button" mat-raised-button (click)="selectFile()">
    <mat-icon>recent_actors</mat-icon>
    <span *ngIf="!fileCount">Wybierz obrazy Dicom</span>
    <span *ngIf="fileCount">Zaznaczono <span>{{fileCount}}</span> obrazów Dicom</span>
  </button>
</section>

<section *ngIf="multipleScans">
  <input type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden multiple webkitdirectory directory />
  <button type="button" mat-raised-button (click)="selectFile()">
    <mat-icon>folder</mat-icon>
    <span *ngIf="!fileCount">Wybierz katalog</span>
    <span *ngIf="fileCount">Zaznaczono <span>{{fileCount}}</span> skanów</span>
  </button>
</section>
