<div #canvasWorkspace id="markerWrapper">
    <img #image id="markerBackgroundImage"/>
    <canvas #canvas id="markerCanvas"></canvas>
    <mat-slider #slider id="markerSlider"
                (blur)="sliderFocus()"
                [disabled]="false"
                [max]="10"
                [min]="0"
                [step]="1"
                [thumbLabel]="true"
                [tickInterval]="1"
                [value]="currentSlice"
                [vertical]="true">
    </mat-slider>
    <div *ngIf="downloadingScanInProgress || downloadingSlicesInProgress">
         <mat-progress-spinner id="markerSpinner" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</div>

