<div #canvasWorkspace id="markerWrapper">
    <div #imageContainer id="imageContainer" (scroll)="updateCanvasPositionInTools()" (wheel)="$event.preventDefault()">
        <img #image id="markerBackgroundImage"/>
        <canvas #canvas id="markerCanvas"></canvas>
    </div>
    <mat-slider #slider id="markerSlider"
                (blur)="sliderFocus()"
                [disabled]="false"
                [max]="10"
                [min]="0"
                [step]="1"
                [thumbLabel]="true"
                [tickInterval]="1"
                [value]="this.currentSlice"
                [vertical]="true"
                color="primary">
    </mat-slider>
    <div *ngIf="downloadingScanInProgress || downloadingSlicesInProgress">
        <mat-progress-spinner id="markerSpinner" mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
</div>
