@import '../../../app-theme.scss';

$canvas-size: 100%;
$slider-offset: 20px;
$spinner-radius: 50px;

#markerCanvas {
    //width: $canvas-size;
    //height: $canvas-size;
    position: absolute;
    user-select: none;
}

#markerBackgroundImage {
    max-width: $canvas-size;
    height: 100%;
    max-height: calc(100vh - 64px);
    user-select: none;
    background-color: black;
    position: absolute;
}

#markerSpinner {
    @extend #markerCanvas;
    left: calc($canvas-size / 3 + $spinner-radius);
    top: calc($canvas-size / 3 + $spinner-radius);
}

#markerSlider {
    position: absolute;
    right: 0;
    height: $canvas-size;
}

#markerAcceptButton {
    position: absolute;
    left: $canvas-size / 2;
    top: $canvas-size;
}

// pretty neat workaround to always show slider thumb
::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(-45deg) !important;
        border-radius: 50% 50% 0 !important;
    }

    .mat-slider-thumb {
        transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }
}

