@import '../../../app-theme.scss';

$canvas-size: 600px;

#markerCanvas {
    width: $canvas-size;
    height: $canvas-size;
    position: absolute;
    user-select: none;
}

#markerBackgroundImage {
    @extend #markerCanvas;
    background-color: grey;
}

#markerSlider {
    position: absolute;
    left: $canvas-size;
    height: $canvas-size;
}

#markerAcceptButton {
    position: absolute;
    left: $canvas-size / 2;
    top: $canvas-size;
}

#markerKeysTooltip {
    position: absolute;
    left: $canvas-size + 12;
    top: $canvas-size + 10;
}

// pretty neat workaround to always show slider thumb
::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(-45deg) !important;
        border-radius: 50% 50% 0 !important;
    }

    .mat-slider-thumb {
        transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }
}

