---

#- name: Install needed dependencies and configure hosts
#  hosts: all
#  become: true
#  roles:
#    - common

- hosts: app_hosts
  tasks:
    - name: Build services
      shell: docker-compose build
      args:
        chdir: "{{ project_remote_path }}"

    - name: Init a new swarm with default parameters
      shell: docker swarm init

    - name: Get the node join token
      shell: docker swarm join-token worker -q
      register: docker_join_token

    - name: Save token
      set_fact:
        token: "{{ docker_join_token.stdout }}"

    - name: Get leader address
      shell: docker node inspect self --pretty | grep Address | awk 'NR==1{print $2}'
      register: docker_leader_address

    - name: Save manager address
      set_fact:
        address: "{{ docker_leader_address.stdout }}"

- hosts: db_hosts
  tasks:
    - name: Add node
      shell: docker swarm join --token "{{ hostvars[groups['app_hosts'][0]]['token'] }}" "{{ hostvars[groups['app_hosts'][0]]['address'] }}:2377"

- hosts: app_hosts
  tasks:
    - name: Start docker-swarm
      shell: docker stack deploy --compose-file docker-compose.yml medtagger
      args:
        chdir: "{{ project_remote_path }}"
