<div class="categories">
  <div class="button-row">
    <button mat-fab routerLink="/marker">
      <mat-icon svgIcon="kidneys"></mat-icon>
      <div>Nerki</div>
    </button>
    <button mat-fab routerLink="/marker">
      <mat-icon svgIcon="liver"></mat-icon>
      <div>Wątroba</div>
    </button>
    <button mat-fab routerLink="/marker">
      <mat-icon svgIcon="hearth"></mat-icon>
      <div>Serce</div>
    </button>
    <button mat-fab routerLink="/marker">
      <mat-icon svgIcon="lungs"></mat-icon>
      <div>Płuca</div>
    </button>
  </div>
  <div class="title-row">
    <span>Wybierz kategorię badań</span>
  </div>
</div>
