/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'app/styles/app-theme';
@import "app/styles/mixins";
@import "app/styles/global";

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

// Fluid font-types

h1 {
    @include fluid-type(576px, 1200px, 33.184px, 50.512px);
}

h2 {
    @include fluid-type(576px, 1200px, 27.648px, 37.904px);
}

h3 {
    @include fluid-type(576px, 1200px, 23.04px, 28.432px);
}

h4 {
    @include fluid-type(576px, 1200px, 19.2px, 21.328px);
}

h5 {
    @include fluid-type(576px, 1200px, 16px, 16px);
}

.primary-color {
    color: #448aff;
}

.clearfix {
    clear: both;
}
