@import '../../../app-theme.scss';
app-marker-component {
  $canvas-size: 512px;

  #markerCanvas {
    width: $canvas-size;
    height: $canvas-size;
    position: absolute;
    user-select: none;
  }

  #markerBackgroundImage {
    @extend #markerCanvas;
    background-color: grey;
  }

  #markerSlider {
    position: absolute;
    left: $canvas-size;
    height: $canvas-size;
  }
}
