<div class="decoration-side"></div>

<div class="login-side">
  <mat-card *ngIf="loginPageMode == LoginPageMode.LOG_IN" class="login-card">
    <mat-card-header>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Login">
          </mat-form-field></td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Hasło">
          </mat-form-field></td>
          </tr>
        </table>
      </form>
      <tr>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td><mat-card-actions>
            <button mat-raised-button color="primary" (click)="logIn()">Zaloguj się</button>
          </mat-card-actions></td>
        </tr>
        <tr>
            <td>
              <span>Nie masz konta? <a routerLink="/login" (click)="changePageMode()">Zarejestruj się.</a></span>
            </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="loginPageMode == LoginPageMode.REGISTER" class="registration-card">
    <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="text" id="firstName" placeholder="Imię" formControlName="firstName" required>
              <mat-error *ngIf="userForm.get('firstName').invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="text" id="lastName" placeholder="Nazwisko" formControlName="lastName" required>
              <mat-error *ngIf="userForm.get('firstName').invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="text" id="email" placeholder="E-mail" formControlName="email" required>
              <mat-error *ngIf="userForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput type="password" id="password" placeholder="Hasło" formControlName="password" required>
              <mat-error *ngIf="userForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width" required>
              <input matInput type="password" id="confirmPassword" placeholder="Potwierdź hasło"  formControlName="confirmPassword" required>
              <mat-error *ngIf="userForm.get('confirmPassword').invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
        </table>
      </form>
      <tr>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td><mat-card-actions>
              <button mat-raised-button color="primary-color" (click)="changePageMode()"><mat-icon>arrow_back</mat-icon> Wstecz</button>
            </mat-card-actions></td>
            <td><mat-card-actions>
              <button mat-raised-button color="primary" (click)="userRegistration()">Zarejestruj się</button>
            </mat-card-actions></td>
          </tr>
        </table>
    </mat-card-content>
  </mat-card>
</div>

