<div class="decoration-side">

</div>

<div class="login-side">
  <div layout="row" layout-align="center center">
    <md-card class="login-card">
      <md-card-header>
        <md-card-title>Logowanie</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Login" type="text" value="" />
        </md-input-container>
        <br>
        <md-input-container>
          <input mdInput placeholder="Hasło" type="password" value="" />
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary-color" (click)="logIn()">Zaloguj</button>
      </md-card-actions>
    </md-card>
  </div>
</div>