/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: white;
  background-size: 30%;
}

.primary-color {
  color: #3F51B5;
}

